.home-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.home-page-desc {
    margin-top: 5rem;
}

.home-action-button {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
}

.home-page-services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
}

.home-page-services-card {
    border-radius: 5px;
    background: rgba(60, 179, 113, 0.15);
    width: 30%;
    height: 35rem;
    margin: 3rem;
    padding: 1.5rem 1rem 1rem 1rem;
}

.chat-image-container {
    align-self: center;
}

.chat-text-container {
    width: 50%;
}