.home-container {
    display: flex;
    justify-content: space-around;
    background-image: url("../assets/background.png");
    background-repeat: repeat;
    background-position: center;
    height: 27rem;
    border-radius: 1rem;
    margin: 1rem 5rem 0rem 5rem;
    box-shadow: 15px 15px 8px #BEC8E4, -4px -4px 10px #FFFFFF;
}

.home-container1 {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.home-page-desc {
    margin-top: 3rem;
}

.home-action-button {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
    margin-top: 1rem;
}

.home-page-services-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.home-page-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.home-page-services-card {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    margin: 2rem;
    padding: 1.5rem 1rem 1rem 1rem;
}

.chat-image-container {
    align-self: center;
}

.chat-text-container {
    width: 50%;
}

.video-file {
    width: 25rem;
    margin: 1rem;
}

@media screen and (max-width: 1075px) {
    .home-page-services-card {
        width: 300px;
    }
    .home-container {
        margin: 1rem 3.5rem 0rem 3.5rem;
    }
}

@media screen and (max-width: 900px) {
    .home-page-illustration {
        width: 350px;
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        
    }
    .video-file {
        width: 15rem;
    }
}

@media screen and (max-width: 650px) {
    .home-page-illustration {
        width: 200px;
    }
    .chat-image-container {
        width: 200px;
    }
}

@media screen and (max-width: 575px) {
    .page-heading-home {
        margin-top: 1rem;
    }
    .home-container {
        margin: 1rem 2rem 0rem 2rem;
    }
    .home-page-desc {
        margin-top: 1.5rem;
    }
    .chat-image-container {
        width: 8rem;
    }
}

@media screen and (max-width: 475px) {
    .home-container {
        flex-direction: column;
        align-items: center;
    }
    .home-container1 {
        flex-direction: column;
        align-items: center;
    }
    .chat-image-container {
        margin-bottom: 1rem;
    }
    .chat-text-container {
        width: 300px;
    }
}