.payment-plan-container {
    width: 25%;
}

.payment-plan-name {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
}

.payment-plan-description {
    text-align: center;
}

.payment-field-heading {
    margin: 1rem;
    font-size: 1.4rem;
}

.payment-field-text {
    text-align: center;
    align-self: center;
    width: 25%;
}

.bold-text {
    font-weight: bold;
    font-size: 1.25rem;
}