.profile-photo-container {
    width: 15.75rem;
    height: 15.75rem;
    border-radius: 50%;
    background-color: var(--white-color);
    margin: auto;
    margin-top: 20px;
}

.profile-container {
    width: 90%;
    background-color: rgba(60, 179, 113, 0.15);
    margin: auto;
    height: 40rem;
    border-radius: 8px;
    margin-top: -9.875rem;
    padding: 2rem;
}

.profile-box {
    border-radius: 8px;
    background-color: var(--white-color);
    height: 36rem;
    display: flex;
    flex-direction: column;
}

.plan-name {
    color: var(--green-color);
    margin: 1rem;
    text-align: end;
    font-size: 1.5rem;
}

.profile-user-name {
    color: var(--black-color);
    font-family: "Mirza", cursive;
    font-size: 3rem;
    margin-top: 4rem;
    text-align: center;
    font-weight: bold;
}

.profile-stat-container {
    display: flex;
    margin: 2rem;
    flex-wrap: wrap;
}

.profile-stat {
    display: flex;
    margin: 1rem;
}

.profile-stat-title {
    color: var(--black-color);
    margin-right: 1.5rem;
    align-self: center;
    font-size: 1.5rem;
}

.profile-stat-value {
    color: var(--green-color);
    border: 1px solid var(--green-color);
    border-radius: 5px;
    padding: 4px 16px;
    font-size: 1.5rem;
}

.profile-upgrade {
    display: flex;
    justify-content: center;
    color: var(--white-color);
}

.page-action-buttons1 {
    background-color: var(--green-color);
    color: var(--white-color);
    margin-top: 1.75rem;
    transition: all 0.1s ease-in;
    border: none;
    width: 8rem;
}

.page-action-buttons1:hover {
    border: 1px solid var(--green-color);
    color: var(--green-color);
    background-color: transparent;
}