.profile-photo-container {
    width: 15.75rem;
    height: 15.75rem;
    border-radius: 50% 50% 0px 0px;
    margin: auto;
}

.profile-container {
    width: 90%;
    margin: auto;
    height: 40rem;
    border-radius: 8px;
    padding: 2rem;
    margin-top: -10rem;
}

.profile-box {
    border-radius: 8px;
    height: 36rem;
    display: flex;
    flex-direction: column;
}

.plan-name {
    color: var(--green-color);
    margin: 1rem;
    text-align: end;
    font-size: 1.5rem;
}

.profile-user-name {
    color: var(--black-color);
    font-family: "Mirza", cursive;
    font-size: 3rem;
    margin-top: 4rem;
    text-align: center;
    font-weight: bold;
}

.profile-stat-container {
    display: flex;
    margin: 2rem;
    flex-wrap: wrap;
}

.profile-stat {
    display: flex;
    margin: 1rem;
}

.profile-stat-title {
    color: var(--black-color);
    margin-right: 1.5rem;
    align-self: center;
    font-size: 1.5rem;
}

.profile-stat-value {
    color: var(--green-color);
    border-radius: 5px;
    padding: 4px 16px;
    font-size: 1.5rem;
}

.profile-upgrade {
    display: flex;
    justify-content: center;
    color: var(--white-color);
}

.page-action-buttons1 {
    background-color: var(--green-color);
    color: var(--white-color);
    margin-top: 1.75rem;
    transition: all 0.1s ease-in;
    border: none;
    width: 8rem;
}

.page-action-buttons1:hover {
    border: 1px solid var(--green-color);
    color: var(--green-color);
    background-color: transparent;
}

@media screen and (max-width: 700px) {
    .profile-stat-title {
        font-size: 1rem;
    }
    .profile-user-name {
        font-size: 2rem;
    }
}

@media screen and (max-width: 550px) {
    .profile-stat {
        flex-direction: column;
    }
    .profile-stat-container {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .profile-stat-title {
        text-align: center;
    }
    .profile-stat-value {
        margin-top: 1rem;
    }
    .profile-box {
        height: max-content;
        padding-bottom: 2rem;
    }
}
