.page-heading {
    text-align: center;
    font-family: "Mirza", cursive;
    font-size: 3rem;
    height: 4rem;
    margin-top: -2rem;
}

.page-description {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
}

.page-container {
    display: flex;
    margin-top: 1rem;
}

.page-card {
    background: rgba(60, 179, 113, 0.15);
    backdrop-filter: blur(2.5px);
    border-radius: 10px;
    margin: 1rem;
    padding: 0.75rem;
    width: 50%
}

.page-card-heading {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.page-card-label {
    font-size: 1.75rem;
}

.mailBox {
    height: 20rem;
}

.page-action-buttons {
    background-color: var(--green-color);
    color: var(--black-color);
    margin-top: 1.75rem;
    transition: all 0.1s ease-in;
}

.page-action-buttons:hover {
    border: 1px solid var(--green-color);
    color: var(--green-color);
    background-color: transparent;
}