.page-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Mirza", cursive;
    font-size: 2.5rem;
}

.page-description {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
}

.page-container {
    display: flex;
    margin-top: 1rem;
}

.page-card {
    margin: 1rem;
    padding: 0.75rem;
    width: 50%
}

.page-card-heading {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.page-card-label {
    font-size: 1.75rem;
}

.mailBox {
    height: 20rem;
}

.advanced-options {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: 1rem;
}

.display-options {
    display: none;
    transition: all 3s ease-in;
}

.page-action-buttons {
    background-color: var(--green-color);
    color: var(--black-color);
    margin-top: 1.75rem;
    transition: all 0.1s ease-in;
}

.page-action-buttons:hover {
    border: 1px solid var(--green-color);
    color: var(--green-color);
    background-color: transparent;
}

@media screen and (max-width: 1020px) {
    .page-heading {
        font-size: 2rem;
        height: 3rem;
    }
    .page-description {
        font-size: 1.25rem;
    }
    .page-card-heading {
        font-size: 1.5rem;
    }
    .page-card-label {
        font-size: 1.125rem;
    }
    .mailBox {
        height: 16rem;
    }
}

@media screen and (max-width: 700px) {
    .page-heading {
        font-size: 1.5rem;
    }
    .page-description {
        font-size: 1rem;
    }
    .page-card-heading {
        font-size: 1.125rem;
    }
    .page-card-label {
        font-size: 1rem;
    }
    .mailBox {
        height: 12rem;
    }
}

@media screen and (max-width: 575px) {
    .page-container {
        flex-direction: column;
        align-items: center;
    }
    .page-card {
        width: 70%;
    }
    .page-heading {
        margin-top: -0.5rem;
    }
}

@media screen and (max-width: 375px) {
    .page-card {
        width: 90%;
    }
}