.logo-image {
    width: 2.5rem;
    padding: 0.3rem;
    margin: 0rem;
    background-color: var(--black-color);
}

.logo-name {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: var(--black-color);
}

.toolbar-content {
    color: var(--green-color);
    margin:5px;
    transition: all 0.1s ease-in-out;
}

.toolbar-content:hover {
    border: 1px solid var(--white-color);
    border-radius: 8px;
    color: var(--green-color);
}

.toolbar-comp:hover, .toolbar-comp {
    border: none;
    outline: none;
    background: none;
    box-shadow: inset -2px -2px 5px #FFFFFF, inset 2px 2px 5px #BEC8E4;
}

@media screen and (max-width: 575px) {
    .logo-image {
        width: 2.5rem;
    }
    .logo-name {
        font-size: 1.25rem;
        margin-left: 0.5rem;
    }
}