.logo-image {
    width: 2.5rem;
    padding: 0.3rem;
    margin: 0rem;
    margin-right: 0.5rem;
    background-color: var(--black-color);
}

.logo-name-white {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: var(--black-color);
}

.logo-name-dark {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: var(--white-color);
}

.drop-down-show {
    display: block;
}

.toolbar-content-dark {
    color: var(--white-color);
}

.toolbar-content-white:hover {
    border: none;
    outline: none;
    background: none;
    color: var(--black-color);
    box-shadow: inset -2px -2px 5px var(--white-color), inset 2px 2px 5px var(--white-bg-shadow);
    text-decoration: none;
}

.toolbar-content-dark:hover {
    border: none;
    outline: none;
    background: none;
    color: var(--white-color);
    box-shadow: inset -2px -2px 5px var(--light-bg-shadow), 2px 2px 5px var(--dark-bg-shadow);
    text-decoration: none;
}

.toolbar-comp-white {
    width: max-content;
    border: none;
    outline: none;
    background: none;
    color: var(--black-color);
    box-shadow: 5px 5px 12px var(--white-bg-shadow), -4px -4px 10px var(--white-color);
    text-decoration: none;
    border-radius: 4px;
    margin: 4px 8px 4px 8px;
    padding: 0.5rem;
}

.toolbar-comp-dark {
    width: max-content;
    border: none;
    outline: none;
    background: none;
    color: var(--white-color);
    box-shadow: 5px 5px 12px var(--dark-bg-shadow), -4px -4px 10px var(--light-bg-shadow);
    text-decoration: none;
    border-radius: 4px;
    margin: 4px 8px 4px 8px;
    padding: 0.5rem;
}

.toolbar-comp-white:hover {
    border: none;
    outline: none;
    background: none;
    color: var(--black-color);
    box-shadow: inset -2px -2px 5px var(--white-color), inset 2px 2px 5px var(--white-bg-shadow);
    text-decoration: none;
}

.toolbar-comp-dark:hover {
    border: none;
    outline: none;
    background: none;
    color: var(--white-color);
    box-shadow: inset -2px -2px 5px var(--light-bg-shadow), 2px 2px 5px var(--dark-bg-shadow);
    text-decoration: none;
}

@media screen and (max-width: 575px) {
    .logo-image {
        width: 2.5rem;
    }
    .logo-name {
        font-size: 1.25rem;
        margin-left: 0.5rem;
    }
}