@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  --green-color: #3CB371;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --dark-color: #444444;
  --dark-bg-shadow: #363636;
  --light-bg-shadow: #525252;
}

.box-shadow-dark {
  box-shadow: 5px 5px 12px var(--dark-bg-shadow), -4px -4px 10px var(--light-bg-shadow);
}

.box-shadow-hover {
  box-shadow: 2px 2px 5px var(--dark-bg-shadow), -2px -2px 5px var(--light-bg-shadow);
}

.box-shadow-inset {
  box-shadow: inset -2px -2px 5px var(--light-bg-shadow), 2px 2px 5px var(--dark-bg-shadow);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
